<html>
	<head>

	<title>Write</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>
	</head>
		<div class="container">
		<div class="row" style="margin-top:20%;">
			<div class="col-md-4 col-md-offset-4">
						<div class="panel-body">
							<body>
								<p> {{message}}<p>
								<form action="/home" class="form-submit">
									<input type="submit" class="btn btn-primary" value="Home"/>
								</form>
							</body>
					</div>
			</div>
		</div>
		</div>
		
</html>